.errors
{
  color: red;
}

h1{
  text-align: center;
  color:black;
}
#stdname#age#email#mob#dept#address{
  width: 100%;
  padding: 12px 20px;
  padding-left: 89px;
  word-spacing: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: rgb(113, 81, 143);
  padding: 20px;
}